<div class="top-div container">
  <div class="card" style="width: 30rem">
    <div class="card-body">
      <h3><b>LOGIN</b></h3>
      <div class="form-floating mb-3 my-4">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="username"
          placeholder="Username"
        />
        <label for="floatingInput">Username</label>
      </div>
      <br />
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          [(ngModel)]="password"
        />
        <label for="floatingPassword">Password</label>
      </div>
      <br />

      <button
        type="submit"
        class="btn btn-success btn-lg my-4"
        (click)="onClicked()"
      >
        Login
      </button>
      <button
        type="submit"
        class="btn btn-danger btn-lg my-4 mx-4"
        (click)="onRegister()"
      >
        Register
      </button>
    </div>
  </div>
</div>
