.top-div {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

input:active{
    border: 1px solid red;
}

span{
    color: red;
}

.loginClass{
    color: rgb(0, 110, 255);
    cursor: pointer;
    
}