<form [formGroup]="registerForm">
  <div class="top-div container">
    <div class="card" style="width: 30rem">
      <div class="card-body">
        <h3><b>SIGN UP</b></h3>
        <div class="mb-1 my-5">
        <label for="usertype">Select Usertype : <span>*</span></label>&nbsp;
        <select name="usertype" id="usertype" formControlName="usertype">
          <option value="" selected disabled hidden>Choose here</option>
          <option value="admin">Admin</option>
          <option value="superadmin">SuperAdmin</option>
        </select>
      </div>
        <br />  
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            formControlName="username"
            placeholder="Username"
            (change)="onCheck()"
          />
          <label for="floatingInput">Username <span>*</span></label>
        </div>
        <small *ngIf="registerForm.get('username')?.errors?.['minlength']"><span>*Username must be greater than 3 characters</span></small>
        <small style="color: brown;">{{content}}</small>
  
        <br />
  
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            formControlName="password"
          />
          <label for="floatingPassword">Password <span>*</span></label>
          
        </div>
        <small>
          <span *ngIf="registerForm.get('password')?.errors?.['minlength']">*Password must be of minimum 8 characters </span>
          <span *ngIf="registerForm.get('password')?.errors?.['pattern']"> 1 upperCase </span>
          <span *ngIf="registerForm.get('password')?.errors?.['pattern']"> 1 lowerCase </span>
          <span *ngIf="registerForm.get('password')?.errors?.['pattern']"> 1 digit </span>
          <span *ngIf="registerForm.get('password')?.errors?.['pattern']"> 1 specialCharacter</span>
        </small>
        <br />
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            formControlName="confirmPassword"
            (change)="onConfirmCheck()"
          />
          <label for="floatingPassword">Confirm Password <span>*</span></label>
        </div>
        <br />
  
        <button
          type="submit"
          class="btn btn-success btn-lg my-4"
          [disabled] = "!registerForm.valid"
          (click)="onRegister()"
        >
          Sign Up
        </button><br>
        <small *ngIf="!registerForm.valid">*For enable, fill all the details</small>
        <p class="loginClass" [routerLink]="['/login']">Already a user ! login</p>
      </div>
    </div>
  </div>
  </form>
